.containerDrop {
    position: absolute;
    padding: 8px;
    width: 200px;
    border: solid #c5c5c5 1px;
    border-radius: 8px;
    min-height: max-content;
    top: 65px;
    right: 0px;
    background-color: white;
}

.buttonSair {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    color: #535862;
    border: none;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
  }
  .buttonSair:hover {
    background-color: #f0f0f0b6;
    transition: all 0.2s ease-in-out;
  }
  